# Pipelines with Pandas for Data Science

# Scenario 1
The Group Comoany has Two Branches and the Head Finance Manager wants to know the TAX_refund Amount of the Expenses

In [77]:
# A Group Company has Two Branches, 
# Each Employee of the company submits their expense statement using an Input Program in their office & the Data is stored in the company data base directory as T_Exp_Data 

#Company A
T_Exp_Data_1 ={
    'Employee_Code':['001','002','003','004','005'],
    'Name':['A','B','C','D','E'],
    'Gender':['Male', 'Female', 'Male', 'Female', 'Male'],
    'Status':['Permanent', 'Probation', 'Adhoc', 'Permanent', 'Probation'],
    'Travel':['Yes','No','Yes','No','No'],
    'Food':[900,325,505,650,200],
    'Taxi':[0,20,10,5,50]
}

#Company B
T_Exp_Data_2 ={
    'Employee_Code':['101','102','103','104','105'],
    'Name':['A','B','C','D','E'],
    'Gender':['Female', 'Male', 'Female', 'Male', 'Female'],
    'Status':['Adhoc', 'Probation', 'Permanent', 'Adhoc', 'Probation'],
    'Travel':['Yes','Yes','No','Yes','Yes'],
    'Food':[350,325,475,600,215],
    'Taxi':[0,20,10,5,50]
}

print("Data Ok")

Data Ok

In [73]:
# Now we need to get this data from the database to the expense calculator programme
# We would perform calculations with Python using pandas
# 1. Set the Pandas Environment
import pandas as pd
from pandas import DataFrame
print('Environment Set')

Environment Set

In [89]:
# 2.  Government gets Data From Company A & B and Create a DataFrame for Calculation and create a new dataframe Where 'Travel' = 'Yes'

dfA=pd.DataFrame(T_Exp_Data_1) # Create Dataframe of Data from Company 1
dfB=pd.DataFrame(T_Exp_Data_2) # Create Dataframe of Data from Company 2
dfn = pd.concat([dfA,dfB])     # Combine all the Data
dfT=dfn[dfn.Travel == 'Yes']   # Clean Data, Keep only Travel Data, Since tax Refund is only on Travel Expenses
dfT.set_index('Employee_Code', inplace=True)
dfT

              Name  Gender     Status Travel  Food  Taxi
Employee_Code
001              A    Male  Permanent    Yes   900     0
003              C    Male      Adhoc    Yes   505    10
101              A  Female      Adhoc    Yes   350     0
102              B    Male  Probation    Yes   325    20
104              D    Male      Adhoc    Yes   600     5
105              E  Female  Probation    Yes   215    50

In [16]:
pip install pdpipe

Collecting pdpipe
  Downloading https://files.pythonhosted.org/packages/cf/78/029e7781a3029e105b1ad7bc7dc878b46408186c60c21e15d1e68030331e/pdpipe-0.0.46-py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 6.9MB/s eta 0:00:011
Collecting strct (from pdpipe)
  Downloading https://files.pythonhosted.org/packages/4a/c4/bd0de8562cb3731bdfcc33a4627c755a2d9c5e6e96b73546134c43acf1be/strct-0.0.30-py2.py3-none-any.whl
Collecting skutil>=0.0.15 (from pdpipe)
  Downloading https://files.pythonhosted.org/packages/34/2b/1b5c9e7be3c24e1bd5ce35c2d27a5780989c3d90fcee10f3fee3074dda7f/skutil-0.0.16-py2.py3-none-any.whl
Collecting tqdm (from pdpipe)
  Downloading https://files.pythonhosted.org/packages/1c/1a/cd6ee6b8b06557dcc5590785af2fe90fa10c19c28e567c1e3a299d5081e7/tqdm-4.44.1-py2.py3-none-any.whl (60kB)
     |████████████████████████████████| 61kB 15.8MB/s eta 0:00:01
Collecting sortedcontainers (from pdpipe)
  Downloading https://files.pythonhosted.org/packages/13/f3/cf85f7c3a2dbd1a515d51e1f1676d971abe41bba6f4ab5443240d9a78e5b/sortedcontainers-2.1.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.18.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pdpipe) (1.0.0)
Requirement already satisfied: numpy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from skutil>=0.0.15->pdpipe) (1.14.2)
Collecting decore (from skutil>=0.0.15->pdpipe)
  Downloading https://files.pythonhosted.org/packages/b4/69/9e3da3a87058d43e5b9f0f668f69da591b8b0c2763b3afbfea084582ea57/decore-0.0.1.tar.gz
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.18.0->pdpipe) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.18.0->pdpipe) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.18.0->pdpipe) (1.14.0)
Building wheels for collected packages: decore
  Building wheel for decore (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/6c/1b/9c/71fa8b5df01cc605c4b5cadcd81df76d520149ca5c02b4013b
Successfully built decore
Installing collected packages: strct, decore, skutil, tqdm, sortedcontainers, pdpipe
Successfully installed decore-0.0.1 pdpipe-0.0.46 skutil-0.0.16 sortedcontainers-2.1.0 strct-0.0.30 tqdm-4.44.1
Note: you may need to restart the kernel to use updated packages.

In [36]:
import pdpipe as pdp
print("Import Successful")

Import Successful

In [151]:
Pipeline1 = pdp.ColDrop('Travel')
Pipeline1+= pdp.ColDrop('Name')

dfD = Pipeline1(dfT)
dfD

               Gender     Status  Food  Taxi
Employee_Code
001              Male  Permanent   900     0
003              Male      Adhoc   505    10
101            Female      Adhoc   350     0
102              Male  Probation   325    20
104              Male      Adhoc   600     5
105            Female  Probation   215    50

In [104]:
Pipeline2 = pdp.ColDrop('Status')
dfD2=Pipeline2(dfD)
dfD2
Pipeline3= pdp.ColDrop('Gender')
dfD3=Pipeline3(dfD2)
dfD3

               Food  Taxi
Employee_Code
001             900     0
003             505    10
101             350     0
102             325    20
104             600     5
105             215    50

In [94]:
Total =dfD3.sum().sum()
#TRR = Tax_Refund_Rate, TTR = Total Tax Refund
TRR = 5/100
TTR = TRR*Total
print("Total_Tax_Refund: ", TTR , "USD")

Total_Tax_Refund:  149.0 USD

# Scenario 2
Show Pipelines can move data as well as functions for various calculations

Let's Create Some Functions first that we need to pipe

In [119]:
# Create two functions such as 
def mean_expense_by_group(dataframe, col):
    # groups the data by a column and returns the mean food expende per group
    return dataframe.groupby(col).mean()

def uppercase_column_name(dataframe):
    # Capitalizes all the column headers
    dataframe.columns = dataframe.columns.str.upper()
    # And returns them
    return dataframe

In [123]:
# Then Create an appropriate Dataframe to be applied
# We can reuse the Dataframe which was the result of Pipeline 2 action i.e. dfD2

df = dfD2.drop(columns = ['Taxi'], axis =1)
df.set_index('Gender', inplace = True)
df

        Food
Gender
Male     900
Male     505
Female   350
Male     325
Male     600
Female   215

In [124]:

# Now Pipeline the function over the target dataframe

A = df.pipe(mean_expense_by_group, col='Gender')
A

         Food
Gender
Female  282.5
Male    582.5

In [122]:

# Now pipe-in two functions together to action on the target dataframe

B = (df.pipe(mean_expense_by_group, col='Gender'). pipe(uppercase_column_name))
B

         FOOD
Gender
Female  282.5
Male    582.5

In [145]:
#or pipe-in functions one by one to action on the target dataframe

B = (A.pipe(uppercase_column_name))
B

         FOOD
Gender
Female  282.5
Male    582.5

In [147]:
# Adding complexity
# We use Pipeline 3 action of on dfD created after Pipeline 1 further fork the same data for One Hot Encoding Method
# We know that ourpipeline 3 was "Pipeline3= pdp.ColDrop('Gender')"

Pipeline3= pdp.ColDrop('Gender')
Pipeline3+= pdp.OneHotEncode('Status')
dfD4 = Pipeline3(dfD)
dfD4

               Food  Taxi  Status_Permanent  Status_Probation
Employee_Code
001             900     0                 1                 0
003             505    10                 0                 0
101             350     0                 0                 0
102             325    20                 0                 1
104             600     5                 0                 0
105             215    50                 0                 1

In [157]:
#or Multipipe Implementation
Pipeline4 = pdp.OneHotEncode('Status')
dfD5 = (dfT.pipe(Pipeline1).pipe(pdp.ColDrop('Gender')).pipe(Pipeline4).pipe(uppercase_column_name))
dfD5

               FOOD  TAXI  STATUS_PERMANENT  STATUS_PROBATION
Employee_Code
001             900     0                 1                 0
003             505    10                 0                 0
101             350     0                 0                 0
102             325    20                 0                 1
104             600     5                 0                 0
105             215    50                 0                 1